# Pandas

Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.

In [1]:
import pandas as pd
import numpy as np

## 1. Series Objects

A Series is analog to one dimensional numpy array of indexed data

In [31]:
data = pd.Series([2,5,6,5,8])
data

0    2
1    5
2    6
3    5
4    8
dtype: int64

In [14]:
data.values     #returns all the data values in the Series

array([2, 5, 6, 5, 8], dtype=int64)

In [15]:
data.index      #returns indices

RangeIndex(start=0, stop=5, step=1)

In [16]:
data2 = pd.Series([1,5,6,9],index = ['a','b','c','d'])
data2

a    1
b    5
c    6
d    9
dtype: int64

In [17]:
data2[2]

6

In [18]:
#Series a bit like a specialization of a Python dictionary.
dic = {"a":0,
      "b":1,
      "d":5,
      "c":2}
dic

{'a': 0, 'b': 1, 'd': 5, 'c': 2}

In [20]:
dic_series = pd.Series(dic)
dic_series

a    0
b    1
d    5
c    2
dtype: int64

## Constructing Series objects

- pd.Series(data, index=index)

In [22]:
# 1. data is the numpy list
s = pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [23]:
# 2. data is dictionary
s = pd.Series(dic)
s

a    0
b    1
d    5
c    2
dtype: int64

In [25]:
# 3. data is scalar value
s = pd.Series(10, index = [1,5,6])
s

1    10
5    10
6    10
dtype: int64

In [30]:
# Obtaining particular values from series
s = pd.Series(dic, index =['a','c'])
s

a    0
c    2
dtype: int64

## 2. Dataframe Objects

Dataframe is analog to 2D numpy array with both flexible row indices and flexible column names

In [37]:
age = pd.Series({'john':22, 'mary':20, 'zing':21, 'amar':19})
mark = pd.Series({'john':520, 'mary':550, 'zing':521, 'amar':589})

#Dataframe is a collection of 1D Series
df = pd.DataFrame({'age': age, 'mark': mark})
df

      age  mark
john   22   520
mary   20   550
zing   21   521
amar   19   589